CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2048

# Settings backend
CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y

# USB
CONFIG_YKB_USB_ENABLED=y

# BT
CONFIG_YKB_BT_ENABLED=y

# KB
CONFIG_YKB_SPLIT=y
CONFIG_KB_KEY_COUNT=35
CONFIG_KB_SETTINGS_DEFAULT_MINIMUM=500
CONFIG_KB_SETTINGS_DEFAULT_MAXIMUM=1023
CONFIG_KB_SETTINGS_DEFAULT_THRESHOLD=75

# Backlight
CONFIG_LED_STRIP_CUSTOM=y
CONFIG_KB_BACKLIGHT=y
CONFIG_KB_BACKLIGHT_DEVICE_LED_STRIP=y
