# enable GPIO
CONFIG_GPIO=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# USB
CONFIG_USB_DEVICE_STACK_NEXT=y
CONFIG_CDC_ACM_SERIAL_INITIALIZE_AT_BOOT=n
CONFIG_USBD_HID_SUPPORT=y
CONFIG_YKB_USBD_PRODUCT="Dactyl V1"
# Right would be +1
CONFIG_YKB_USBD_PID_LEFT=0x0001
# 125*2ma=250ma MAX
CONFIG_YKB_USBD_MAX_POWER=125
CONFIG_YKB_USBD_REMOTE_WAKEUP=y
