if BOARD_DACTYL_V1

    config BT_STM32_IPM
        default y
        depends on BT

    if BT_INTER_KB_COMM_MASTER

        config BT_CENTRAL
            default y

        config BT_GATT_CLIENT
            default y

        config BT_FILTER_ACCEPT_LIST
            default y

        config BT_SCAN_WITH_IDENTITY
            default y

    endif # BT_INTER_KB_COMM_MASTER

    if BT_INTER_KB_COMM_SLAVE

        config BT_GAP_PERIPHERAL_PREF_PARAMS
            default y
        
        config BT_PERIPHERAL_PREF_MIN_INT
            default 6
        
        config BT_PERIPHERAL_PREF_MAX_INT
            default 6
        
        config BT_PERIPHERAL_PREF_LATENCY
            default 0 
        
        config BT_PERIPHERAL_PREF_TIMEOUT
            default 400

    endif # BT_INTER_KB_COMM_SLAVE

    if YKB_USB_ENABLED

        config USB_DEVICE_STACK_NEXT
            default y

        config CDC_ACM_SERIAL_INITIALIZE_AT_BOOT
            default y

        config USBD_HID_SUPPORT
            default y

        config YKB_USBD_REMOTE_WAKEUP
            default y

        config YKB_USBD_MAX_POWER
            default 125 # 125*2ma=250ma

    endif # YKB_USB_ENABLED

    if YKB_BT_ENABLED

        config BT_DEVICE_APPEARANCE
            default 961

        config BT_MAX_PAIRED
            default 10

        config BT_MAX_CONN
            default 2

    endif # YKB_BT_ENABLED


    if YKB_RIGHT

        config YKB_USBD_PRODUCT
            default "YKB Dactyl V1 (Right)"
            depends on LIB_USB_CONNECT

        config YKB_USBD_PID
            default 0x0001
            depends on LIB_USB_CONNECT

        config BT_DEVICE_NAME
            default "YKB Dactyl V1 (Right)"
            depends on LIB_BT_CONNECT

    endif # YKB_RIGHT

    if YKB_LEFT

        config YKB_USBD_PRODUCT
            default "YKB Dactyl V1 (Left)"
            depends on LIB_USB_CONNECT

        config YKB_USBD_PID
            default 0x0002
            depends on LIB_USB_CONNECT

        config BT_DEVICE_NAME
            default "YKB Dactyl V1 (Left)"
            depends on LIB_BT_CONNECT

    endif # YKB_LEFT

endif # BOARD_DACTYL_V1
