menu "YKB Firmware"

    config YKB_SPLIT
        bool "Enable support for split keyboards"
        default n

    if YKB_SPLIT
        choice YKB_LEFT_RIGHT
            bool "Left/Right"
            help
              "Compile YKB firmware for left or right keyboard"

            config YKB_LEFT
                bool "Left"

            config YKB_RIGHT
                bool "Right"
        endchoice
    endif # YKB_SPLIT

    rsource "Kconfig.ykb.usb"
    rsource "Kconfig.ykb.bt"

endmenu

