menu "YKB Firmware"

    choice YKB_LEFT_RIGHT
        bool "Left/Right"
        default YKB_LEFT
        help
          "Compile YKB firmware for left or right keyboard"

        config YKB_LEFT
            bool "Left"

        config YKB_RIGHT
            bool "Right"
    endchoice

    rsource "Kconfig.ykb.usb"

endmenu

