menuconfig YKB_USB_ENABLED
    bool "USB support"
    help
      This option enables the support for USB on YarmanKeyboards keyboard

if YKB_USB_ENABLED
    config YKB_USBD_MANUFACTURER
        string "USB device manufacturer string"
        default "YarmanKeyboards"
        help
            USB device manufacturer string.

    config YKB_USBD_VID
        hex "USB deviced Vendor ID"
        default 0x6969
        help
            USB device Vendor ID.

    config YKB_USBD_PRODUCT
        string "USB device product string"
        help
            USB device product string.

    config YKB_USBD_PID
        hex "USB device Product ID (Left)"
        help
            USB device Product ID for left keyboard. The right keyboard Product ID would be `LEFT_ID + 1`.

    config YKB_USBD_SELF_POWERED
        bool "USB device Self-powered attribute"
        default y
        help
            Set the Self-powered attribute in the configuration.

    config YKB_USBD_REMOTE_WAKEUP
        bool "USB device Remote Wakeup attribute"
        help
            Set the Remote Wakeup attribute in the configuration.

    config YKB_USBD_MAX_POWER
        int "USB device bMaxPower value"
        range 0 250
        help
            bMaxPower value in the configuration in 2 mA units.

    config YKB_USBD_20_EXTENSION_DESC
        bool "Use default USB 2.0 Extension Descriptor"
        depends on USBD_BOS_SUPPORT
        help
            Set bcdUSB value to 0201 and use default USB 2.0 Extension Descriptor.

endif # YKB_USB
