config LIB_BT_CONNECT
    bool "Support for BLE HID connection"
    default y
    depends on YKB_BT_ENABLED
    select BT
    select BT_SMP
    select BT_BONDABLE
    select BT_PERIPHERAL
    select BT_DIS
    select BT_BAS
    select BT_BAS_BLS
    select SETTINGS
    select BT_SETTINGS
    select BT_HCI_ERR_TO_STR
    select BT_USER_CONN_PARAM_UPDATE
    help
        This option enables the 'BTConnect' library.

if LIB_BT_CONNECT

    config BT_INTER_KB_COMM
        bool "Inter-keyboard communication"
        default y
        help
          Enables communication between two keyboard halves
          to act as one keyboard if connected.

    if BT_INTER_KB_COMM

        config BT_INTER_KB_COMM_MASTER
            bool

        config BT_INTER_KB_COMM_SLAVE
            bool

        choice BT_CONNECT_MASTER
            bool "Inter-keyboard communication master"
            default BT_CONNECT_MASTER_LEFT
            help
              Keyboard half considered to be master in
              inter-keyboard communication

            config BT_CONNECT_MASTER_LEFT
                select BT_INTER_KB_COMM_MASTER if YKB_LEFT
                select BT_INTER_KB_COMM_SLAVE if YKB_RIGHT
                bool "Left"

            config BT_CONNECT_MASTER_RIGHT
                select BT_INTER_KB_COMM_MASTER if YKB_RIGHT
                select BT_INTER_KB_COMM_SLAVE if YKB_LEFT
                bool "Right"

        endchoice

    endif # BT_INTER_KB_COMM

endif # LIB_BT_CONNECT

module = BT_CONNECT
module-str = bt_connect
source "subsys/logging/Kconfig.template.log_config"
