config LIB_BT_CONNECT
    bool "Support for BLE HID connection"
    default y
    depends on YKB_BT_ENABLED
    help
        This option enables the 'BTConnect' library.

module = BT_CONNECT
module-str = bt_connect
source "subsys/logging/Kconfig.template.log_config"
