config LIB_USB_CONNECT
    bool "Support for USB HID connection"
    default y
    depends on YKB_USB_ENABLED
    help
      This option enables the 'USBConnect' library.

module = USB_CONNECT
module-str = usb_connect
source "subsys/logging/Kconfig.template.log_config"
