menu "Keyboard settings"

    config KB_KEY_COUNT
        int "Amount of keyboard keys"
        help
          Specify the amount of keys available

    config KB_MAX_LAYERS_SUPPORTED
        int "Maximum amount of layers supported by the keyboard"
        range 1 10
        default 5

    config KB_SETTINGS_DEFAULT_POLLING_RATE
        int "Default polling rate (ms)"
        default 1

    config KB_SETTINGS_DEFAULT_MINIMUM
        int "Default value for key not pressed"
        range 0 1023

    config KB_SETTINGS_DEFAULT_MAXIMUM
        int "Default value for key pressed fully"
        range 0 1023

    config KB_SETTINGS_DEFAULT_THRESHOLD
        int "Default key press threshold (%age)"
        range 1 100
        default 65
        help
          Default threshold of when a key is considered pressed on a keyboard.
          Should be a value of 1-100  where 100 - key fully pressed down, 1 - just barely touched.
          This value is a part of keyboard settings and can be changed at runtime with YKBConfigurator.

    module = KB_SETTINGS
    module-str = kb_settings
    source "subsys/logging/Kconfig.template.log_config"

endmenu
