if KSCAN_MUXES

config KSCAN_MUXES_MAX_MUX_CNT
    int "Maximum amount of multiplexors driver supports"
    default 3
    help
      Maximum amount of multiplexors driver supports.

endif # KSCAN_MUXES
