if LED_STRIP

config WS2812_STRIP_PWM_DMA_STM32
    bool "WS2812 LED strip PWM + DMA driver for STM32"
    depends on SOC_FAMILY_STM32
    default y
    select USE_STM32_HAL_TIM
    select USE_STM32_HAL_TIM_EX
    select USE_STM32_HAL_DMA
    select SHARED_INTERRUPTS
    help
      Enable driver for WS2812 (and compatibles) LED strip using PWM and DMA on STM32 devices.

endif # LED_STRIP
