menu "Keyboard handling"

    choice KB_HANDLE_REPORT_PRIORITY
        bool "HID Report sending priority"
        default KB_HANDLE_REPORT_PRIO_USB
        depends on YKB_BT_ENABLED
        depends on YKB_USB_ENABLED

        config KB_HANDLE_REPORT_PRIO_USB
            bool "USB first"

        config KB_HANDLE_REPORT_PRIO_BT
            bool "BT first"

    endchoice

    config KB_HANDLE_IMPL_NORMAL
        bool
        default y if !BT_INTER_KB_COMM_SLAVE && !BT_INTER_KB_COMM_MASTER

    config KB_HANDLE_IMPL_SLAVE
        bool
        default y if BT_INTER_KB_COMM_SLAVE

    config KB_HANDLE_IMPL_MASTER
        bool
        default y if BT_INTER_KB_COMM_MASTER

    config KB_FN_KEYSTROKE_MAX_KEYS
        int "Maximum amount of keys allowed for FN-based keystrokes"
        default 3

    module = KB_HANDLE
    module-str = kb_handle
    source "subsys/logging/Kconfig.template.log_config"

endmenu
